<div class="container menu m-0 p-0">
    <div class="h-100 row">
        <div class="h-100 col-12">
            <nav class="h-100 ">
                <ul class="h-100 p-0 m-0 d-flex align-items-center justify-content-center">
                    <li class="menu_list">
                        <a href="" class="menu_anchor w-100 d-flex flex-column align-items-center justify-content-center" [routerLink]="['/resumen']">
                            <i class="bi bi-clipboard2-data menu_icon"></i>
                            <p class="text_bk f_medium m-0">Resumen</p>
                        </a>
                    </li>
                    <li class="menu_list">
                        <a href="" class="menu_anchor w-100 d-flex flex-column align-items-center justify-content-center" [routerLink]="['/gastos']">
                            <i class="bi bi-bar-chart-fill menu_icon"></i>
                            <p class="text_bk f_medium m-0">Gastos</p>
                        </a>
                    </li>
                    <li class="menu_list">
                        <a href="" class="menu_anchor w-100 d-flex flex-column align-items-center justify-content-center" [routerLink]="['/ahorros']">
                            <i class="bi bi-bar-chart-fill menu_icon"></i>
                            <p class="text_bk f_medium m-0">Ahorros</p>
                        </a>
                    </li>
                    <li class="menu_list">
                        <a href="" class="menu_anchor w-100 d-flex flex-column align-items-center justify-content-center" [routerLink]="['/perfil']">
                            <i class="bi bi-person-fill menu_icon"></i>
                            <p class="text_bk f_medium m-0">Perfil</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>