<div class="container">
    <div class="row center_it">
        <div class="col-12 p-0">
            <app-header [title] = "title_total"></app-header>
        </div>
        <div class="col-8 p-0">
            <app-pill [title1] = 'title_incomes' [quantity1] = 'total_incomes' [title2] = 'title_outcomes' [quantity2] = 'total_outcomes'></app-pill>
        </div>
        <div class="col-12 p-0">
            <app-header [title] = "title_month"></app-header>
        </div>
        <div class="col-8 p-0">
            <app-pill [title1] = 'title_incomes' [quantity1] = 'month_incomes' [title2] = 'title_outcomes' [quantity2] = 'month_outcomes'></app-pill>
        </div>
        <div class="col-12 p-0">
            <app-header [title] = "title_categories"></app-header>
        </div>
    </div>
</div>