<div class="container pill">
    <div class="row h-100">
        <div class="col-12">
            <div class="row h-100">
                <div class="col-6 p-0 center_it">
                    <div class="row w-100 center_it">
                        <div class="col-3 green_led d-flex align-items-center justify-content-end p-0">
                            <i class="bi bi-circle-fill"></i>
                        </div>
                        <div class="col-9 d-flex flex-column align-items-start justify-content-around">
                            <p class="m-0 pill_quantity_type">{{title1}}</p>
                            <p class="m-0 pill_quantity quantity">{{quantity1}}€</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 p-0 center_it">
                    <div class="row w-100 center_it">
                        <div class="col-3 red_led d-flex align-items-center justify-content-end p-0">
                            <i class="bi bi-circle-fill"></i>
                        </div>
                        <div class="col-9 d-flex flex-column align-items-start justify-content-around">
                            <p class="m-0 pill_quantity_type">{{title2}}</p>
                            <p class="m-0 pill_quantity quantity">{{quantity2}}€</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>