.pill{

    height: 75px;

    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.red_led{

    color: red;
    font-size: 0.5em;
}

.green_led{

    color: green;
    font-size: 0.5em;
}

.pill_quantity_type{

    position: relative;
    top: 5px;

    font-size: 3.5vw;
}

.pill_quantity{

    position: relative;
    bottom: 5px;
}