.outcome{

    height: 85px;

    background-color: #F7F2FA;

    border: none;
    border-radius: .5em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.outcome_title{

    font-size: 4.5vw;
}
.outcome_quantity{

    font-size: 5vw;
}

.outcome_bg{

    height: 50px;
    width: 50px;

    border-radius: 50%;
}

.category_bar{

    height: 15px;
    
    background-color: rgb(209, 209, 209);

    border-radius: 0;
}

.category_bar_progress{

    background-color: red;
    color: black;
}

.variable_quantity{

    font-size: 5vw;
    color: white;
}

.variable_bg{

    height: 50px;
    width: 50px;

    border-radius: 50%;
}