<div *ngIf="isFixed" class="container">
    <div class="row center_it">
        <div class="col-12 center_it p-0">
            <button class="row outcome p-1 w-100 center_it">
                <div class="col-2 center_it">
                    <img src={{fixed_outcome.category.icon}} alt="" height="45px">
                </div>   
                <div class="col-8 h-75 p-0 center_it">
                    <div class="row h-100 w-100">
                        <div class="col-12 p-0 d-flex align-items-center justify-content-start">
                            <h3 class="outcome_title m-0">{{fixed_outcome.category.name}}</h3>
                        </div>
                        <div class="col-11 p-0">
                            <div class="progress category_bar" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar category_bar_progress" [style.width.%]="fixed_outcome.percentage">{{fixed_outcome.percentage}}%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 center_it">
                    <div class="row">
                        <div class="col-12 center_it">
                            <h3 class="m-0 outcome_quantity">{{fixed_outcome.quantity}}€</h3>
                        </div>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>

<div *ngIf="isVariable" class="container">
    <div class="row center_it">
        <div class="col-12 center_it p-0">
            <button class="row outcome p-1 w-100 center_it">
                <div class="col-2 center_it">
                    <img src={{variable_outcome.category.icon}} alt="" height="45px">
                </div>   
                <div class="col-8 h-75 p-0 center_it">
                    <div class="row h-100 w-100">
                        <div class="col-12 p-0 d-flex align-items-center justify-content-start">
                            <h3 class="outcome_title m-0">{{variable_outcome.category.name}}</h3>
                        </div>
                        <div class="col-12 p-0 d-flex align-items-center justify-content-start">
                            <h6 class="m-0">{{dayName}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-2 center_it">
                    <div class="row">
                        <div class="col-12 center_it variable_bg bg-danger">
                            <h3 class="m-0 variable_quantity">{{variable_outcome.quantity}}€</h3>
                        </div>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>